.styled-50952f12 {
  margin: 5px;
  flow-children: down;
  overflow: noclip;
}
.styled-50952f12 .AbilityImageWrapper {
  box-shadow: #000 0px 0px 5px;
  overflow: noclip;
}
.styled-50952f12 .AbilityImageWrapper,
.styled-50952f12 DOTAAbilityImage {
  width: 64px;
  height: 64px;
}
.styled-50952f12 .LearnButton {
  width: 100%;
  height: 15px;
  background-color: #ffc800;
  opacity: 0;
  background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}
.styled-50952f12 .AbilityBorder {
  width: 100%;
  height: 100%;
  border: 2px solid #999999;
}
.styled-50952f12 .AbilityCooldown {
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.8784313725);
}
.styled-50952f12 .HotKey {
  min-width: 20px;
  color: #ffffff;
  font-family: RadianceM;
  padding: 2px;
  background-color: #222222;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
  transform: translate3d(-5px, -5px, 0px);
  text-align: center;
}
.styled-50952f12 .Mana {
  horizontal-align: right;
  vertical-align: bottom;
  color: #00b3ff;
  font-family: RadianceM;
  padding: 2px;
  text-shadow: #000000 0px 0px 2px 4;
}
.styled-50952f12 .AbilityLevel {
  flow-children: right;
  horizontal-align: center;
  margin-top: 2px;
}
.styled-50952f12 .AbilityLevel .Level {
  width: 13px;
  height: 5px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}
.styled-50952f12 .AbilityLevel .Level.IsActivate {
  background-color: #ffc800;
}
.styled-50952f12.IsPassive .AbilityBorder {
  border: 0px;
  box-shadow: inset #000 0px 0px 5px;
}
.styled-50952f12.IsNotActive DOTAAbilityImage {
  wash-color: #555555;
  saturation: 0.5;
}
.styled-50952f12.CanLearn .LearnButton {
  opacity: 1;
}

.styled-9a15cb87 {
  flow-children: right;
}

.styled-225b96e1 {
  width: 600px;
  flow-children: right;
  horizontal-align: center;
  vertical-align: bottom;
}
.styled-225b96e1 .equipItem {
  width: 60px;
  height: 60px;
  margin: 0 2px 2px 1px;
  border: 2px solid #353525;
}
.styled-225b96e1 .equipItem DOTAItemImage {
  width: 60px;
  height: 60px;
  z-index: 0;
  tooltip-position: top;
}
.styled-225b96e1 .dragging_from {
  border: 2px solid red;
}
.styled-225b96e1 .trying_to_drop {
  border: 2px solid #5e6e31;
}
.styled-225b96e1 .selected {
  border: 1px solid red;
}

.root {
  width: 100%;
  height: 100%;
}

.styled-1ed2f423 {
  flow-children: down;
  horizontal-align: center;
  vertical-align: bottom;
}